<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <display-name>RegServlet</display-name>
        <description></description>
        <servlet-class>kz.edu.nu.cs.se.hw.RegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassengerTicketPurchaseTwoServlet</servlet-name>
        <display-name>PassengerTicketPurchaseTwoServlet</display-name>
        <description></description>
        <servlet-class>kz.edu.nu.cs.se.hw.PassengerTicketPurchaseTwoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassengerTicketPurchaseServlet</servlet-name>
        <display-name>PassengerTicketPurchaseServlet</display-name>
        <description></description>
        <servlet-class>kz.edu.nu.cs.se.hw.PassengerTicketPurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassengerSearchServlet</servlet-name>
        <display-name>PassengerSearchServlet</display-name>
        <description></description>
        <servlet-class>kz.edu.nu.cs.se.hw.PassengerSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <display-name>LoginServlet</display-name>
        <description></description>
        <servlet-class>kz.edu.nu.cs.se.hw.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAutofill</servlet-name>
        <display-name>ServletAutofill</display-name>
        <description></description>
        <servlet-class>kz.edu.nu.cs.se.hw.ServletAutofill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reserve</servlet-name>
        <display-name>Reserve</display-name>
        <description></description>
        <servlet-class>kz.edu.nu.cs.se.hw.Reserve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbServlet</servlet-name>
        <display-name>DbServlet</display-name>
        <description></description>
        <servlet-class>kz.edu.nu.cs.se.hw.DbServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/RegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbServlet</servlet-name>
        <url-pattern>/DbServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassengerTicketPurchaseServlet</servlet-name>
        <url-pattern>/PassengerTicketPurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
            <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassengerTicketPurchaseTwoServlet</servlet-name>
        <url-pattern>/PassengerTicketPurchaseTwoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassengerSearchServlet</servlet-name>
        <url-pattern>/PassengerSearchServlet</url-pattern>
    </servlet-mapping>



    <servlet-mapping>
        <servlet-name>ServletAutofill</servlet-name>
        <url-pattern>/ServletAutofill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reserve</servlet-name>
        <url-pattern>/Reserve</url-pattern>
    </servlet-mapping>
</web-app>
